html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.container{
    width:80vw;
    margin:auto;
}
ul{
    display:inline-block;
}
li{
    list-style-type: none;
    display:inline-block;
    margin:0 2vw;
}
